.ContactSection_FirstSection{
    background-color: #eef2ff;
}
.reactbtn{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
.contactSectionHeading{
    color: #111827;
    font-weight: 700;
    line-height: 1.2;
    font-size: 64px;
}
.contactSectionPara{
    font-size: 20px;
    color: #4b5563;
    line-height: 1.5;
    font-weight: 500;
}

@media (max-width: 400px) {
    .contactSectionHeading {
        font-size: 38px;
        text-align: center;
    }
}