/* .animatedPills5 ,.animatedPills1 ,.animatedPills2,.animatedPills3 ,.animatedPills4 ,.animatedPills6{
  animation: pulseFloat 4.5s ease-in-out infinite;
}

@keyframes pulseFloat {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-25px) scale(1.08);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
.rightsidePillSection{
    width:100%;
}

.animatedPillsContainer{
    position: relative;
}
.animatedPills1{
    position: absolute;
    top: 10rem;
    left: 2rem;
}
.animatedPills2{
    position: absolute;
    top: 18rem;
    left: 7rem;
}
.animatedPills3{
    position: absolute;
    top: 1rem;
    right: 8rem;
}
.animatedPills4{
    position: absolute;
    top: 10rem;
    right: 4rem;
}
.animatedPills5{
    position: absolute;
    top: .1rem;
    right: 30rem;
}
.animatedPills6{
    position: absolute;
    top: 18rem;
    right: 12rem;
}

@media (max-width: 576px) {
}


@media (max-width:768px){
    .animatedPills5{
    position: absolute;
    top: .1rem;
    right: 24rem;
    }
    .animatedPills6{
     position: absolute;
    top: 18rem;
    right: 7rem;
    }
    .animatedPills2{
    position: absolute;
    top: 18rem;
    left: 1rem;
    }
    .animatedPills3{
    position: absolute;
    top: 1rem;
    right: 7rem;
    }

}


@media (min-width:769px) and (max-width:987px){
    .animatedPills1{
    position: absolute;
    top: 10rem;
    left: 2rem;
}
.animatedPills2{
    position: absolute;
    top: 18rem;
    left: 1rem;
}
.animatedPills3{
    position: absolute;
    top: 1rem;
    right: 8rem;
}
.animatedPills4{
    position: absolute;
    top: 10rem;
    right: 4rem;
}
.animatedPills5{
    position: absolute;
    top: .1rem;
    right: 23rem;
}
.animatedPills6{
    position: absolute;
    top: 18rem;
    right: 7rem;
}
}  */