.ServiceRoutesBtn{
    color: #111827;
    background-color: #f3f4f6;
    border-color: #e5e7eb;
    font-weight: 700;
    font-size: 1rem;
}
.ServiceRoutesBtn:hover{
    background-color: #6d4df2;
    color: white;
    transition: all 0.3s ease-in-out;
}
.ServiceRoutesBtn.active {
  background-color: #6d4df2;
  color: white !important;
}

/* img container */
.S_right_Container{
    margin-top: 3rem;
    padding-top: 2rem;
    padding-left: 3rem;
    padding-bottom: 3rem;
}
.S_right_Container_img{
    padding-top: 3rem;
    padding-bottom: 3rem;

}
.S_right_Container h5{
    font-weight: 500;
    font-size: 25px;
}
.S_right_Container_btn{
    margin-right:2rem;
   
}
.S_right_Container_btn span{
    padding: .8rem;
    font-size: 1rem;
    font-weight: 700;
    color: #7051f3;
}

.zoom-img {
  transform: translateZ(0);
  overflow: hidden;
}
.zoom-img img {
  display: block;
  transition: transform 0.35s ease-in-out;
}
.zoom-img:hover img {
  transform: scale(1.05);
}
