.trigger-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background:#8b61fc;
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 50px;
  font-weight: 600;
  cursor: pointer;
  z-index: 999;
}

.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popup-container {
  background: #8b61fc;
  border-radius: 20px;
  max-width: 80%;
  height: 70%;   
  margin-top: 7rem;
  overflow-y: scroll;
  scrollbar-width: none;
  
}

.popup-header {
  padding: 10px 30px;
  color: white;
  position: relative;
}

.popUpclose-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  background: rgba(255,255,255,0.2);
  color: white;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.popup-body {
  padding: 30px;
  padding-top: 0rem;
}

.form-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.form-group {
  margin-bottom: 16px;
}

.form-group label {
  color: white;
  font-size: 14px;
}

.form-group input,
.form-group textarea,select {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
}


.submit-btn {
  width: 100%;
  padding: 16px;
  border-radius: 10px;
  background: white;
  color: #667eea;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

.success-message {
  text-align: center;
  color: white;
}

.success-icon {
  background: white;
  color: #667eea;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}

.success-message {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width:663px) {
  .form-row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6px;
  }
  .form-group input, .form-group textarea, select {
    width: 100%;
    padding: 6px;
    border-radius: 3px;
    border: none;
   }
   .form-group {
    margin-bottom: 1px;
   }

   .formSelect{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
   }

   .popup-body {
    padding: 14px;
    padding-top: 0;
    }

   .popUpclose-btn {
    top: 10px;
    right: 5px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
   }

}