.event-card {
  transition: transform 0.3s ease;
  height: 100%;
}
.event-card:hover {
  transform: scale(1.03);
}
.event-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.3s ease;
}
.event-card:hover .event-overlay {
  opacity: 1;
}
.purple-bg-event{
    border: 1px solid #6f4ff3;
    background-color: #6f4ff3;
    padding: .3rem;
    border-radius:10px;
    color: white;
}

.purple-bg-event:hover{
    border: 1px solid #6f4ff3;
    background: #6f4ff3;
    color: white;
    filter: brightness(90%);
}

.image-viewer-overlay {
  position: fixed;
  top: 10%;
  left: 0;
  bottom: 20%;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.image-viewer-content {
  position: relative;
  width: 80%;
  max-height: 85%;
  display: flex;
  justify-content: center;
}

.popup-image {
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
}

.close-btn {
  position: absolute;
  top: 12px;
  right: -60px;
  font-size: 32px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}


.event-card {
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.event-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.event-img {
  width: 100%;
  height: 220px;
  height: 120px;
  padding:.6rem;
  object-fit: cover;
  background:#f3f4f6;
  border-radius: .2rem;
}

.event-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0.75), rgba(0,0,0,0));
  color: white;
}
