.navbar {
  background: white;
}

.navbar .nav-link {
  color: black !important;
  font-weight: 600;
  transition: color 0.3s ease, transform 0.3s ease;
}

.nav-link.active-link {
  color: #7354f5 !important;
}

.navbar .nav-link:hover {
  color: #8d78dc !important;
  transform: scale(1.05);
  text-shadow: 0 0 8px rgba(141, 120, 220, 0.6);
}



 @media (min-width: 992px) {
  .mega-dropdown {
  
  position: relative;
  }

  .mega-menu:hover {
  display: block;
}
  .mega-menu {
    width: 100%;
    display: none;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    width: 95rem;
    max-width: 95vw;
    background: #fff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    padding: 2rem 3rem;
    z-index: 1000;
    border: none;
  }

  .mega-dropdown:hover .mega-menu {
    display: block;
  }

  .mega-menu h6 {
    color: #7354f5;
    font-size: 0.85rem;
    font-weight: 700;
    margin-bottom: 0.75rem;
  }
  

  .mega-menu .dropdown-item {
    padding: 0.25rem 0;
    color: #000;
    text-decoration: none;
  }


  .mega-dropdown1 {
    position: relative;
  }

  .mega-menu1 {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 20rem;
    background: #fff;
    box-shadow: 0 6px 20px rgba(0,0,0,0.1);
    padding: 1.5rem 2rem;
    z-index: 1000;
  }

  .mega-dropdown1:hover .mega-menu1 {
    display: block;
  }

  .mega-menu1 .dropdown-item {
    padding: 0.35rem 0;
    color: #000;
  }

  /* .mega-menu1 .dropdown-item:hover {
    color: #7354f5;
    padding-left: 1rem;
  } */
}

/* for mobile */
@media (max-width: 991px) {

  .navbar-collapse {
    max-height: calc(100vh - 70px);
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .navbar-collapse ::-webkit-scrollbar {
  display: none;
}

  .mega-menu,
  .mega-menu1 {
    display: none !important;
  }

  .mega-dropdown:hover .mega-menu,
  .mega-dropdown1:hover .mega-menu1 {
    display: none;
  }

  .mobile-toggle {
    width: 100%;
    background: transparent;
    border: none;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 0;
  }

  .mobile-accordion {
    list-style: none;
    padding-left: 1rem;
    margin: 0;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.4s ease, opacity 0.3s ease;
  }

  .mobile-accordion.open {
    max-height: 3000px;
    opacity: 1;
  }

  .accordion-title {
    font-size: 0.75rem;
    font-weight: 700;
    color: #7354f5;
    margin: 0.75rem 0 0.4rem;
    text-transform: uppercase;
  }

  .mobile-accordion li a {
    display: block;
    padding: 0.45rem 0;
    font-size: 0.95rem;
    color: #000;
    text-decoration: none;
  }

  .rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }
}
