.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:white;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner-container img {
  width: 40px;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.dot {
  opacity: 0;
  animation: dotBlink 1.5s infinite;
}

.dot:nth-child(1) { animation-delay: 0s; }
.dot:nth-child(2) { animation-delay: 0.3s; }
.dot:nth-child(3) { animation-delay: 0.6s; }
.dot:nth-child(4) { animation-delay: 0.9s; }

@keyframes dotBlink {
  0%   { opacity: 0; }
  20%  { opacity: 1; }
  100% { opacity: 0; }
}