.carouselExampleCaptions{
  margin: 0;
}
.carousel-img {
  height: 70vh;
  object-fit: cover;
  /* filter: blur(2px); */
  /* filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.7)); */
  filter: brightness(40%);
}

.custom-caption {
  bottom: 20%;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.7);
}

.custom-caption h5 {
  font-size: 2rem;
  font-weight: 600;
}

.custom-caption p {
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  .carousel-img {
  height: 60vh;
  object-fit: cover;
}
  .custom-caption {
    bottom: 10%;
    padding: 0 15px;
  }
  .custom-caption h5 {
    font-size: 1.3rem;
  }
  .custom-caption p {
    font-size: 0.95rem;
  }
}


@media (max-width: 576px) {
  
}