.feature-item {
  text-align: left;
}
.feature_container:hover{
  transform: translateY(-5px);
}
.feature_container{ 
   font-family: 'Satoshi', sans-serif;
}

.Hero2_feature-title{
  font-weight: 700;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.feature-item p {
  font-size: 0.95rem;
  color: #555;
  margin-bottom: 0;
}

.icon-shape {
  width: 4rem;
  height: 4rem;
  background: #f9f9ff;
  border-radius: 12px;
  display: flex;
  align-items: start;
  justify-content: start;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.Hero2_feature-img {
  max-width:4rem;
  max-height: 80px;
  object-fit: contain;
}

.row.mt-5 {
  row-gap: 2rem;
}



.bloom::before{
    background: linear-gradient(22.5deg, #fff, #794aff);
    border-radius: 100%;
    content: "";
    display: block;
    height: 80px;
    width: 80px;
}

.bloom:after {
    /* animation: scale 1.5s infinite; */
    border: 1px solid #e2e2e2;
    left: 0;
    position: absolute;
    top: 0;
}
.icon_flipbox{
  background: #f5eeff;
}


.hero2_cards:hover .icon_flipbox img {
  transform: scaleX(-1);
transition: all 0.3s ease-in-out;
}

@media (max-width: 567px){
   .hero2div {
    text-align: center !important;   
    display: flex;
    flex-direction: column;         
    align-items: center;             
    justify-content: center;         
  }

 .hero2ImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Hero2_feature-img {
    display: block;
    margin: 0 auto; 
  }
} 


@media (max-width: 768px) {
  .icon-shape {
    width: 70px;
    height: 70px;
  }
  .feature-img {
    max-width: 40px;
    max-height: 40px;
  }
}
