.privacy{
     background-color: rgb(243,244,246);

}
.privacy-container{
    padding-top: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    line-height: 2;
}   

@media (max-width:768px){
    .privacy-container{
    padding-left: .7rem;
    padding-right: .7rem;
}  
}