* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}
h2{
  font-size: 3rem;
}
h4{
  font-size: 31px;
  color: #111827;
  font-weight:700;
}
.RouterLink{
  text-decoration: none;
  color: #7051f3;
}

.hover-up {
  transition: all 0.3s ease-in-out;
}
.hover-up:hover {
  transform: translateY(-3px);
  transition-duration: 0.3s;
}
.black-text{
  color: #111827;
}
.purple-text{
  color: #7051f3;
}
.fw-bold{
font-weight: 600;
}
.font-20{
  font-size: 20px;
}
.purple-bg{
  background-color: #6d4df2;
  color: white;
}
.bg-white{
  background-color: white;
}

/* for p tag */
.custom-p{
  font-size: 16px;
  color: #4b5563;
  line-height: 1.5;
  font-weight: 500;
}

.customServiceHeading{
  font-size: 38px;
}

/* hover */
.customHoveBg:hover{
  background-color: #6d4df2;
  color: white;
}

/* custom service heading */

@media (max-width:578px) {
  .customServiceHeading{
     font-size: 28px;
  }

}


/* css of heading and font  */

.Heading3{
 color: #111827;
 font-weight: 700;
 line-height: 1.2;
 font-size: 40px;
 text-transform: unset;
} 